.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin: 16px 0;
        font-weight: 600;
        font-size: 18;
        text-align: center;
    }

    .pick-hour-container {
        padding: 20px 0;
        padding-left: 15px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        button {
            padding: 5px 15px;
            border: 1px solid grey;
        }
    }

    .btn-save-schedule {
        margin-top: 20px;
    }
}
